<div mat-dialog-title ><h3>Employee Form</h3></div>
<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First Name" [(ngModel)]="employeeObj.firstName">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" [(ngModel)]="employeeObj.lastName">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="test@gmail.com" type="email" [(ngModel)]="employeeObj.email">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onsave()">Save</button>
    <button mat-raised-button (click)="oncancel()">Cancel</button>
  </div>
</div>
